<!-- App Section -->
    <section id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.data.sitetext.app.title }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.sitetext.app.text }}</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-circle" src="{{ site.data.sitetext.app.list[0].icon }}" alt="">
                    </span>
                    <h4 class="service-heading">{{ site.data.sitetext.app.list[0].title }}</h4>
                    <p class="text-muted">{{ site.data.sitetext.app.list[0].desc }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-circle" src="{{ site.data.sitetext.app.list[1].icon }}" alt="">
                    </span>
                    <h4 class="service-heading">{{ site.data.sitetext.app.list[1].title }}</h4>
                    <p class="text-muted">{{ site.data.sitetext.app.list[1].desc }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-circle" src="{{ site.data.sitetext.app.list[2].icon }}" alt="">
                    </span>
                    <h4 class="service-heading">{{ site.data.sitetext.app.list[2].title }}</h4>
                    <p class="text-muted">{{ site.data.sitetext.app.list[2].desc }}</p>
                </div>
            </div>
        </div>
    </section>
